@{
    ViewData["Title"] = "Home Page";
}



<section class="home-section text-center p-100">
    <div class="container">
        <div class="row pt-20">
            <div class="col-lg-6 col-sm-12 offset-lg-3">
                <h1>The most loved mobile car wash service!</h1>
                <a asp-controller="User" asp-action="Appointment" title="appointment" class="btn btn-primary">Schedule an appointment</a>
<br />
                <span> For full car wash services</span>
            </div>
            <div class="col-lg-6 col-sm-12 offset-lg-3">
                <img class="img-fluid" src="assets/images/caar.png" alt="" style="
    padding-bottom: 45px;">
            </div>
         
            <div class="col-lg-12 col-sm-12">
                <h1 style="padding-top: 30px;padding-bottom: 30px; border-bottom: 1px solid #007bff;">The most loved mobile car wash service!</h1>
            </div>
            <div class="col-lg-6 col-sm-6">
                <img class="img-fluid" src="assets/images/step-1.png" alt="" style="
        padding-top: 20px;">
                <h1>Book your appointment</h1>
                <p>Tell us when and where to meet you.</p>
                <div>
                    <img class="img-fluid" src="assets/images/message-detailer.png" alt="" style="
        padding-top: 200px;">
                </div>
                <div>
                    <img class="img-fluid" src="assets/images/step-3.png" alt="" style="
          padding-top: 90px;">
                    <h1>Rate your detailer</h1>
                    <p>At the end of the job, rate your detailer accordingly. Your feedback is essential to our growth!</p>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6">
                <img class="img-fluid" src="assets/images/book-appointment.png" alt="" style="
      padding-top: 20px;">
                <div>
                    <img class="img-fluid" src="assets/images/step-2.png" alt="" style="
        padding-top: 150px;">
                    <h1>Get your car washed or detailed</h1>
                    <p>At the end of the job, rate your detailer accordingly. Your feedback is essential to our growth!</p>
                </div>
                <div>
                    <img class="img-fluid" src="assets/images/rate-detailer.png" alt="" style="
      padding-top: 120px;">
                </div>
            </div>
        </div>
</section>