@model IEnumerable<Appointment>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 left-nav text-left">
            <ul>
                <li>Home</li>
                <li><a asp-action="orders" asp-controller="administration">Orders</a></li>
                <li><a asp-action="shop" asp-controller="administration">Shop</a></li>
                <li>Reviews</li>
            </ul>
        </div>
        <div class="col-lg-9 right-nav">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var appntmnt in Model)
                    {
                        <tr>
                            <td>@appntmnt.time</td>
                        
                            <td>@appntmnt.status</td>
                            <td>
                                <a asp-route-Id="@appntmnt.Id" asp-action="Delete_app" asp-controller="administration">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>